:root {
    --main-bg-grey: #252934;
    --second-bg-grey: #1c1e26;
    --third-bg-grey: #3d3d3d;
    --main-pink: #E31B6D;
    --main-white: #f8f8f8;
    --main-blue: #04C2C9;
}

.container-about {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    margin-left: 5vw;
    margin-right: 5vw;
    align-content: center;
    align-items: center;
}

.about-me {
    height: 100vh;
    overflow: hidden;
}

.about-me-title {
    font-size: calc(4vw + 2vh);
    font-weight: 900;
    position: absolute;
    top: 12vh;
}

.about-me-text {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(2vw + 1vh);
    position: absolute;
    top: 25vh;
    right: 25vw;
    font-weight: 300;
}

.about-me-img {
    width: calc(25vw);
    height: auto;
    position: absolute;
    top: 25vh;
    right: 0;
    background-color: var(--main-blue);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.404), 0 6px 20px 0 rgba(0, 0, 0, 0.301);
}

.about-me-text a {
    color: black;
    font-weight: 900;
}

.about-me-text a:focus,
.about-me-text a:hover{
    color: rgb(63, 63, 63);
    letter-spacing: 2px;
}

@media (max-width: 576px) {
    .about-me-text {
        text-align: left;
        width: 90vw;
        font-family: 'Courier New', Courier, monospace;
        font-size: calc(2vw + 1vh);
        position: absolute;
        top: 25vh;
        left: 0;
        right: 0;
        font-weight: 300;
    }

    .about-me-img {
        width: calc(50vw);
        height: auto;
        position: absolute;
        top: 65vh;
        right: 30vw;
        left: 20vw;
        background-color: var(--main-blue);
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.404), 0 6px 20px 0 rgba(0, 0, 0, 0.301);
    }
}