/* ================= */
/* POPDOWN BAR STUFF */
/* ================= */

/* pink rectangle */
@media(max-width: 850px) {
    .navbar li a {
        margin-right: 20vw;
        margin-left: 20vw;
    }

    .menu-color-bar.active {
        padding: 25vh 18vw;
    }

    .menu-icon.active span:nth-child(1) {
        background: #f8f8f8;
    }

    .menu-icon.active span:nth-child(3) {
        background: #f8f8f8;
    }
}

@media(max-width: 600px) {
    .navbar li a {
        margin-right: 15vw;
        margin-left: 15vw;
    }
}

@media(max-width: 450px) {
    .navbar li a {
        margin-right: 10vw;
        margin-left: 10vw;
    }
}

@media(max-width: 400px) {
    .navbar li a {
        margin-right: 10vw;
        margin-left: 10vw;
        font-size: 1.5em;
    }
}

/* ================= */
/* HEADER */
/* ================= */

@media(max-width: 1050px) {
    .header-shape0 {
        width: 80vw;
        left: 10vw;
    }

    .jstext {
        font-size: 8vw;
    }
}

@media(max-width: 750px) {
    .header-shape0 {
        width: 80vw;
        left: 10vw;
        background: transparent;
    }

    .jstext {
        font-size: 8vw;
        /* color: #E31B6D; */
        color: rgb(1, 150, 155);
    }
}

@media(max-width: 700px) {
    .header-shape0 {
        width: 80vw;
        left: 10vw;
        background: transparent;
    }

    .jstext {
        font-size: 10vw;
        /* color: #E31B6D; */
    }
}

@media(max-width: 600px) {
    .header-shape0 {
        background: transparent;
    }

    .jstext {
        padding-top: 13vh;
        font-size: 12vw;
    }
}

@media(max-width: 500px) {
    .header-shape0 {
        background: transparent;
    }

    .jstext {
        padding-top: 12.5vh;
        font-size: 12vw;
    }
}

@media(max-width: 450px) {
    .header-shape0 {
        background: transparent;
        left: 0;
        right: 0;
        width: 100vw;
    }

    .jstext {
        width: 100vw;
        margin-left: 4vw;
        margin-right: 2vw;
        padding-left: 0;
        padding-right: 0;
        padding-top: 16vh;
        font-size: 14vw;
    }
}

/* =============== */
/* ABOUT ME */
/* =============== */
@media(max-width: 900px) {
    .about-me-text {
        font-size: 3em;
    }
}

@media(max-width: 800px) {
    .about-me-text {
        font-size: 3em;
        width: 80%;
        margin-top: 16vh;
    }

    .about-me-shape0 {
        padding: 13em 8em;
    }
}

@media(max-width: 700px) {
    .about-me-text {
        font-size: 3em;
        width: 80%;
        margin-top: 16vh;
        margin-left: 1em;
    }

    .about-me-shape0 {
        padding: 8em 6em;
    }
}

@media(max-width: 500px) {
    .about-me-text {
        font-size: 2.8em;
        width: 80%;
        margin-top: 16vh;
    }

    .about-me-shape0 {
        padding: 8em 6em;
        display: none;
    }
}

@media(max-width: 350px) {
    .about-me-text {
        font-size: 2em;
        width: 80%;
        margin-top: 16vh;
    }

    .about-me-shape0 {
        padding: 8em 6em;
        display: none;
    }
}

/* =============== */
/* CONTACT ME */
/* =============== */
@media(max-width: 1200px) {
    .email-button {
        font-size: 1.4em; 
    }
}

@media(max-width: 1050px) {
    .email-button {
        font-size: 1.25em; 
        width: 25%;
        left: 38vw;
    }
}

@media(max-width: 950px) {
    .email-button {
        font-size: 1.4em; 
        width: 25%;
        height: 12%;
        padding: 1.2em 0;
    }
}

@media(max-width: 850px) {
    .email-button {
        font-size: 1.5em; 
        width: 30%;
        height: 14%;
        padding: 1.25em 0;
        left: 35vw;
    }
}

@media(max-width: 750px) {
    .email-button {
        font-size: 1.4em; 
        width: 30%;
        height: 14%;
        padding: 1.25em 0;
        left: 35vw;
    }

    .contact-me-title {
        margin-top: 0.75em;
    }
}

@media(max-width: 700px) {
    .email-button {
        font-size: 1.4em; 
        width: 40%;
        height: 14%;
        padding: 1.25em 0;
        left: 30vw;
    }

    .contact-me-title {
        margin-top: 0.75em;
        font-size: 4em;
    }
}

@media(max-width: 550px) {
    .email-button {
        font-size: 1.4em; 
        width: 50%;
        height: 14%;
        padding: 1.25em 0;
        left: 25vw;
    }

    .contact-me-title {
        margin-top: 1.2em;
        font-size: 4em;
    }
}

@media(max-width: 450px) {
    .email-button {
        font-size: 1.4em; 
        width: 50%;
        height: 14%;
        padding: 1.25em 0;
        left: 25vw;
        margin-top: 8vh;
    }

    .contact-me-title {
        margin-top: 1.2em;
        font-size: 4em;
    }
}

@media(max-width: 400px) {
    .email-button {
        font-size: 1.4em; 
        width: 60%;
        height: 14%;
        padding: 1.25em 0;
        left: 20vw;
        margin-top: 8vh;
    }

    .contact-me-title {
        margin-top: 1.2em;
        font-size: 4em;
    }
}