:root {
    --main-bg-grey: #252934;
    --second-bg-grey: #1c1e26;
    --third-bg-grey: #3d3d3d;
    --main-pink: #E31B6D;
    --main-white: #f8f8f8;
    --main-blue: #04C2C9;
}

html {
    height:100%;
}
  
body {
    margin:0;
    background-color: var(--second-bg-grey);
}

.bg {
    animation:slide 16s ease-in-out infinite alternate;
    background-image: linear-gradient(-0deg, #1c1e26 0%, rgba(0, 0, 0, 0.5) 0%);
    bottom:0;
    left:-50%;
    opacity:.3;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:18s;
}

.bg3 {
    animation-duration:22s;
}

@keyframes slide {
    0% {
        transform:translateY(0%);
    }
    100% {
        transform:translateY(100%);
    }
}