/*-----Loading screen-----------*/
#load-screen {
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    top: 0px;
}

/*----Loading from online------*/
.container2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: cornflowerblue;
  }

  .container2 h1 {
      text-align: center;
      position: absolute;
      margin-top: 100px;
      margin-left: 3%;
      font-size: 3em;
      color: white;
      letter-spacing: 6px;
      font-family: 'Megrim', cursive;
      font-weight: 900;
      font-style: italic;
  }

  .container2 .part {
    width: 40px;
    height: 40px;
    margin-left: 45px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #51b8e2;
    border-radius: 4px;
    border: 2px solid #fff;
    transition: background 1000ms linear;
    -webkit-animation: change 950ms linear infinite;
            animation: change 950ms linear infinite;
  }
  .container2 .part:nth-child(1) {
    -webkit-animation-delay: 100ms;
            animation-delay: 100ms;
  }
  .container2 .part:nth-child(2) {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
  }
  .container2 .part:nth-child(3) {
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
  }
  .container2 .part:nth-child(4) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
  }
  .container2 .part:nth-child(5) {
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
  }
  @-webkit-keyframes change {
    0% {
      border-radius: 5px;
    }
    17.5% {
      border-radius: 5px;
    }
    50% {
      border-radius: 100%;
      background: rgba(255,255,255,0.4);
    }
    93.5% {
      border-radius: 5px;
    }
    100% {
      border-radius: 5px;
    }
  }
  @keyframes change {
    0% {
      border-radius: 5px;
    }
    17.5% {
      border-radius: 5px;
    }
    50% {
      border-radius: 100%;
      background: rgba(255,255,255,0.4);
    }
    93.5% {
      border-radius: 5px;
    }
    100% {
      border-radius: 5px;
    }
  }
  