/*----GLITCH EFFECT-------------*/
.glitch {
    font-size: 130px;
    line-height: 1;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-decoration: none;
    color: #fff;
  }
  .glitch:before, .glitch:after {
    display: block;
    content: '17';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  .glitch:after {
    color: #f0f;
    z-index: -2;
  }
  .glitch:before {
    color: #0ff;
    z-index: -1;
  }
  .glitch:hover:before {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  }
  .glitch:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  }
  @keyframes glitch {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-5px, 5px);
      transform: translate(-5px, 5px);
    }
    40% {
      -webkit-transform: translate(-5px, -5px);
      transform: translate(-5px, -5px);
    }
    60% {
      -webkit-transform: translate(5px, 5px);
      transform: translate(5px, 5px);
    }
    80% {
      -webkit-transform: translate(5px, -5px);
      transform: translate(5px, -5px);
    }
    to {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }  

/*-----------------*/

.glitch1 {
    font-size: 6rem;
    line-height: 1;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-decoration: none;
    color: #fff;
  }
  .glitch1:before, .glitch1:after {
    display: block;
    content: 'Gowtham Ravindrathas';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  .glitch1:after {
    color: #f0f;
    z-index: -2;
  }
  .glitch1:before {
    color: #0ff;
    z-index: -1;
  }
  .glitch1:hover:before {
    animation: glitch1 0.3s cubic-bezier(0.15, 0.36, 0.35, 0.94) both infinite;
  }
  .glitch1:hover:after {
    animation: glitch1 0.3s cubic-bezier(0.15, 0.36, 0.35, 0.94) reverse both infinite;
  }
  @keyframes glitch1 {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }
    to {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }  