/*=======================================
OVERALL CSS 
========================================*/
* {
    box-sizing: border-box;
    transition: all ease-in-out 200ms;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,300);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body,html {
    text-align: center;
    height: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    /* overflow: hidden; */
    -webkit-animation: changingBgColor 30s infinite;
    animation: changingBgColor ease-in-out 20s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

img {
    max-width: 100%;
    height: auto;
}

/*=======================================
HEADER 
========================================*/
header {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* -webkit-animation: changingBgColor 30s infinite;
    animation: changingBgColor ease-in-out 20s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; */
    width: 100%;
    overflow: hidden;
    /* background-color: #E31B6D; */
    /* background: url("../Images/bg_blur.jpg"); */
    /* background-color: #f8f8f8; */
    background-size: cover;
    background-color: #f8f8f8;
    /* background-color: black; */
}

.header-half {
    /* background-color: rgb(15, 20, 27); */
    /* background: url("../Images/what-the-hex-dark.png"); */
    background-color: #f8f8f8;
    /* opacity: 0.5; */
    padding: 10vh;
    width: 50vw;
    height: 100vh;
}

.header-hello {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 20em;
    color: white;
    width: 50vw;
    height: 100vh;
    /* padding-left: 50vw; */
    right: 0vw;
    /* left: 50; */
    font-weight: 900;
    overflow: hidden;
}

.header-shape0 {
    background-color: #E31B6D;
    padding: 10vh;
    width: 40vw;
    height: 90vh;
    position: absolute;
    top: -10vh;
    bottom: 10vh;
    left: 5vw;
    right: 10vw;
    border-radius: 5%;
}

@keyframes changingBgColor {
    0% {
        background-color: #45a3e5
    }
    30% {
        background-color: #66bf39
    }
    60% {
        background-color: #eb670f
    }
    90% {
        background-color: #f35
    }
    100% {
        background-color: #864cbf
    }
}

h1 {
    margin: 0;
    /* width: 100vw; */
    overflow: hidden;
}

/* .jstext {
    overflow: hidden;
    font-size: 1.6em;
    width: 100%;
    padding-left: 4vh; 
    padding-right: 4vh; 
    padding-top: 35vh;
    z-index: 10;
    margin: 0;
} */

.jstext {
    /* overflow: hidden; */
    font-size: 5vw;
    width: 100%;
    /* padding-left: 50vw;  */
    /* padding-right: 2vw;  */
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 8vh;
    margin: 0;
    text-align: left;
}

.jstext:after {
    content: "_";
    animation: blinker 1000ms infinite;
    -webkit-animation: blinker 1000ms infinite;
    -moz-animation: blinker 1000ms infinite;
    -o-animation: blinker 1000ms infinite;
    /* position: absolute; */
    -webkit-transform: translate(10%, -10%);
    -moz-transform: translate(10%, -10%);
    -ms-transform: translate(10%, -10%);
    transform: translate(10%, -10%);
}

#brName {
    display: none;
}

.title {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

/*=======================================
BLINKER 
========================================*/
@keyframes blinker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes blinker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes blinker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes blinker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*=======================================
SECTION 2
========================================*/
.about-me {
    /* background: url(../Images/bg-1.jpg); */
    /* background-color: #1B242F; */
    background-color: #f8f8f8;
    /* background-color: #252934; */
    /* background-color: white; */
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0s linear;
    transition-property: background-position;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    color: rgb(0, 0, 0);
}

.about-me-text {
    text-align: left;
    font-size: 3.8em;
    width: 60%;
    margin-top: 8vh;
    margin-left: 2em;
}

.about-me-shape0-div {
    position: relative;
}

.about-me-shape0 {
    position: absolute;
    padding: 13em 8em;
    background-color: #E31B6D;
    width: 24vw;
    margin: 0;
    margin-left: 60vw;
    overflow: hidden;
    border-radius: 5%;
    cursor: pointer;
}

.about-me-shape0:hover,
.about-me-shape0:focus {
    transform: translateY(-10px);
    box-shadow: rgb(0, 0, 0) 1px 1px;
}

.arrow-down {
    position: absolute;
    font-size: 4em;
    left: 0;
    right: 0;
    cursor: pointer;
    top: 85vh;
    /* color: #E31B6D; */
    color: #04C2C9;
    transition: ease-in-out 50ms;
}

.arrow-down:hover,
.arrow-down:focus {
    color: #E31B6D;
}

.arrow-down:active {
    -webkit-animation: changingColor3 4s;
    animation: changingColor3 ease-in-out 4s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes changingColor3 {
  0% {
      color: #E31B6D;
  }
  100% {
      color: #04C2C9;
  }
}

/*=======================================
SECTION 3
========================================*/
.my-portfolio {
    /* background: url(../Images/bg-1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0s linear;
    transition-property: background-position;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #f8f8f8;
}


/* ============================================================================================================================ */
/* SLANTED THINGY*/
.slant-div0 {
    background-color: rgb(36, 36, 36);
    /* position: absolute; */
    margin: 0;
    padding: 5em;
    width: 100%;
    transform: skew(0deg, -2deg);
    top: -5vh;
    z-index: 0;
}

.slant-div1 {
    /* background-color: rgb(36, 36, 36); */
    /* background: url("../Images/funky-lines.png"); */
    position: absolute;
    margin: 0;
    /* padding: 20em; */
    height: 90vh;
    width: 100%;
    transform: skew(0deg, -2deg);
    top: 4vh;
    z-index: 10;
    /* background-image: url("../Images/bg_blur.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0s linear;
    transition-property: background-position;
}

/* @media(max-width:600px) {
    .slant-div{
        display: none;
    }

    .inputs {
        width: 80vw;
    }
} */