/*-----------------*/

.glitch {
    /* Required for text-overflow to do anything */
    overflow: hidden;

    font-size: 4rem;
    letter-spacing: 5px;
    line-height: 1;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-decoration: none;
    color: #fff;
    width: 100%;
  }
  .glitch:before, .glitch:after {
    display: block;
    content: 'Gowtham Ravindrathas';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  .glitch:after {
    color: #f0f;
    z-index: -2;
  }
  .glitch:before {
    color: #0ff;
    z-index: -1;
  }
  .glitch:hover:before {
    animation: glitch 0.3s cubic-bezier(0.15, 0.36, 0.35, 0.94) both infinite;
  }
  .glitch:hover:after {
    animation: glitch 0.3s cubic-bezier(0.15, 0.36, 0.35, 0.94) reverse both infinite;
  }
  @keyframes glitch {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }
    to {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }  


/*-------------*/
.menu-toggle {
  padding: 1.2em;
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background:rgb(7, 71, 189);
  height: 3px;
  width: 1.8em;
  border-radius: 3px;
  position:relative;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(4px);
}