/*--Imports--*/
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat|Poiret+One|Unica+One');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Megrim|Open+Sans|Orbitron');
@import url('https://fonts.googleapis.com/css?family=Abel');

/*--Overall CSS--*/
* {
    box-sizing: border-box;
    transition: all ease-in-out 200ms;
}

::-moz-selection { /* Code for Firefox */
    color: rgb(162, 0, 255);
    background: rgb(255, 255, 255);
}

::selection {
    color: rgb(0, 174, 255);
    background: rgb(255, 255, 255);
}

body {
    max-width: 100%;
    margin: 0px;
    /*font-family: 'Poiret One', cursive;*/
    font-family: 'Abel', sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-color: cornflowerblue;
    color: aliceblue;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    height: hidden;
}

hr {
    border-bottom: 1px solid #ccc; /* This is the line replacing the hr*/
    margin-bottom: 0px; /* This is the space below the line */
    padding-bottom: 0px
}

/*--Home--*/
header {
    height: 100vh;
    background: url(../Images/bg_blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0s linear;
    transition-property: background-position;
}

header .title{
    font-family: 'Megrim', cursive;
    padding: 5px;
    margin: 2px;
}

/*--Home-List--*/
.nav-bar0 ul {
    list-style: none;
    background-color: cornflowerblue;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    margin: 0;
}

.nav-bar0 li {
    display: inline-block;
}

.nav-bar0 a {
    text-decoration: none;
    padding: 4px;
    margin-left: 16px;
    margin-right: 16px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.nav-bar0 a:hover,
.nav-bar0 a:focus {
    color: darkturquoise;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

.nav-bar0 {
    width: 100%;
    overflow: hidden;
    right: 0%;
    display: none;
    float: unset;
    position: fixed;
}

.nav-bar0-open {
    display: inherit;
}

label {
    margin: 0 1em 0 0;
    font-size: 2em;
    line-height: 1em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    right: 0.5em;
    position: fixed;
    padding: 0.4em;
    z-index: 1000;
    
}

#toggle {
    display: none;
    transition: all ease-in-out 500ms;
}

#toggle:checked + .nav-bar0{
    display: block;
    transition: all ease-in-out 500ms;
    
}
/*--ABOUT ME----*/
.about-me-title {
    font-size: 30px;
    text-transform: uppercase;
}

.about-me {
    font-size: 20px;
    word-wrap: break-word;
    margin-left: 10em;
    margin-right: 10em;
}

/*-------Copied from form (needs editing)--------*/
.button-style:hover {
    background-color: #b7f4ff;
}

.inputname {
    font-size: 20px;
    color: white;
}

form {
    font-size: 20px;
    text-align: left;
    width: 50%;
    padding: 2em;
}

.inputs {
    display: block;
    font-size: 20px;
    margin: 5px;
    width: 80%;
}

.button-style {
    background-color:rgb(112, 131, 216); 
    font-weight: bold;
    font-size: 25px;
    color: white; 
    border: 1px solid white;
    cursor: pointer;
    margin-left: 10em;
}

.button-style:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

select{
    font-size: 20px;
}

legend{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ffffff;
    margin: 1em 0;
    padding: 0;
}

fieldset{
    border: 2px solid #ffffff;
}

textarea{
    font-size: 30px;
    color: black;
}

.contact-child {
    position: center;
}

/*-----------------*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
#ajerez {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 9999;
}
#ajerez img {
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #7482A5;
  transition: border-radius 0.2s ease-in-out;
}
#ajerez img:hover {
  border-radius: 30%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1.3em;
  fill: currentColor;
}

.icon-paperplane {
  font-size: 1em;
  color: white;
  margin-left: 1px;
  margin-top: 5px;
}

.contact-button {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;
}
.contact-button span {
  text-transform: none;
  position: absolute;
  color: #ee283e;
  top: 20px;
  left: 30px;
  opacity: 0;
  transition: all 0s ease 0s;
}
.contact-button:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}
.contact-button:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}
.contact-button:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #ee283e;
}
.contact-button:before, .contact-button:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 132px;
  height: 25px;
}
.contact-button:before {
  border: 2px solid #ee283e;
  background-color: #1f3944;
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}
.contact-button:after {
  content: "Available for work";
  font-size: 0.45em;
  top: -7px;
  left: 0px;
  color: white;
}


/*-----FOOTER----*/
footer {
    background-color: #1f3944;
    color: azure;
    font-family: 'Abel', sans-serif;
}

footer::selection {
    background: #1f3944;
}

.footer-nav {
    text-decoration: none;
}

.footer-nav ul {
    list-style: none;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav a {
    text-decoration: none;
}