@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Megrim|Montserrat|Open+Sans|Satisfy|Share+Tech+Mono');

* {
    box-sizing: border-box;
    transition: all ease-in-out 200ms;
}

body {
    margin: 0px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/*-----logo------*/
.logo {
    max-width: 80px;
    height: auto;
    left: 1.5em;
    top: 1.5em;
    position: fixed;
}

/*-----Burger ICON-------*/
.menu-icon {
    position: fixed;
    top: 1em;
    right: 0.5em;
    padding: 1em 1.4em;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1000;
}

.menu-icon span {
    width: 100%;
    height: 0.3em;
    display: block;
    background: white;
    margin: 0.5em;
    transition: 500ms;
    padding: 0.1em 1em;
    border-radius: 20%;
}

.menu-icon.active span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
    transform: rotate(45deg) translate(-12px, -10px);
}

.popdown-bar {
    float: unset;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 0;
    background-color: rgba(79, 91, 102, 0.835);
    transition: 500ms;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
}

.popdown-bar.active {
    height: 40vh;
}

@media(max-width:600px) {
    .popdown-bar.active {
        height:50vh;
    }
}

@media(max-width:500px) {
    .popdown-bar.active {
        height:100vh;
    }
}

/*-------NAV BAR-------*/
.navbar {
    margin-top: 80px;
    padding: 10px;
    color: aliceblue;
    width: 100%;
}

.navbar ul {
    margin: 0px;
    width: 100%;
    align-items: center;
    padding: 0;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    margin: 5px 5px;
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar li a:hover,
.navbar li a:focus {
    background-color: cornflowerblue;
    letter-spacing: 20px;
}

/*-------Side Text-------*/
.sidetext {
    font-family: 'Share Tech Mono', monospace;
    font-size: 9em;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    color: rgb(255, 255, 255);
    position: absolute;
    white-space: nowrap;
    right: calc(100vw - 2.8em);
    margin-top: calc(100vh - 2.8em);
    overflow: hidden;
}

.sidetext span {
    transform: rotate(90deg);
}
/*------------*/

/*---------*/
header {
    background: url(../Images/bg_blur.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0s linear;
    transition-property: background-position;
    width: 100%;
    overflow: hidden;
}

/*------INFO SECTION---------*/
.main {
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.info {
    font-family: 'Satisfy', cursive;
    color: cornflowerblue;
    text-align: left;
    position: absolute;
    left: 40%;
    top: 30%;
    font-size: 70px;
    font-style: italic;
    letter-spacing: 1px;
    overflow: hidden;
    padding: 1rem;
    
}

.info span {
    font-family: 'Megrim', cursive;
    color: white;
    font-weight: 900;
    font-style: normal;
}

@media(max-width: 650px) {
    .info {
        left: 10%;
        font-size: 50px;
    }
}

@media(max-width: 768px) {
    .info {
        
        right: 5%;
        font-size: 60px;
    }
}

@media(max-width: 500px) {
    .info {
        left: 10%;
        font-size: 50px;
    }
}

@media(max-width: 320px) {
    .info {
        left: 10%;
        font-size: 40px;
    }
}

@media(max-width: 375px) {
    .info {
        left: 5%;
        right: 5%;
        font-size: 40px;
    }
}

@media(max-width: 550px) {
    .sidetext {
        display: none;
        position: fixed;
    }
}

@media(max-width: 1024px) {
    .sidetext {
        right: calc(100vw - 2.8em);
        margin-top: calc(100vh - 2.8em);
    }
}

/*------Mouse--------*/
@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(0);
    }
  }
  @-moz-keyframes scroll {
    0% {
      -moz-transform: translateY(0);
    }
    50% {
      -moz-transform: translateY(10px);
    }
    100% {
      -moz-transform: translateY(0);
    }
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
.center-m {
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.caption {
    position: relative;
    margin-top: 10px;
    color: whitesmoke;
    /*font-family: 'Megrim', cursive;*/
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

.mouse {
    position: relative;
    display: inline-block;
    height: 44px;
    width: 28px;
    border-radius: 12px;
    border: 2px solid whitesmoke;
    text-align: center;
}
.mouse:after {
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: whitesmoke;
    border-radius: 50%;
    content: "";
    -webkit-animation: scroll 1.3s ease-out infinite forwards;
    -moz-animation: scroll 1.3s ease-out infinite forwards;
    animation: scroll 1.3s ease-out infinite forwards;
}

.mouse:hover,
.mouse:focus {
    border: 2px solid white;
    background-color: cornflowerblue;
}

.mouse:after:hover,
.mouse::after:focus {
    background-color: cornflowerblue;
}

.caption:hover,
.caption:focus{
        color: cornflowerblue;
}